*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

#cabecera-principal{
    background-color: rgb(3, 25, 38);
    background-image: url("IMG/fondo-principal.webp");
    background-size: cover;
    background-position: center;
    background-repeat : no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}

#titulo-principal{
    color: rgb(250, 250, 250);
    text-align: left;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: rgba(3, 25, 38, 0.7);
    padding: 2rem;
    width: 30%;
}

.opciones{
    list-style: none;
    font-size: 50px;
    margin-top: 5%;
    padding: 2rem;
}

.opcion{
    padding: 2rem;
    width: 50%;
    text-align: right;
}

.opcion:hover{
    background-color: rgba(250, 250, 250, 0.1);
}

.enlace{
    color: rgb(250, 250, 250);
}

a{
    text-decoration: none;
}

/*-----------------------------------------------------------------------------------------------------*/

#contenido-principal{
    background: linear-gradient(90deg, rgba(70, 129, 137, 0.5), rgb(250,250,250), rgba(70, 129, 137, 0.5));  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sobre-mi{
    width: 100%;
}

#perfil{
    position: relative;
    width: 100%;
    height: 60%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
}

#baner-perfil-img{
    width: 100%;
    border: 1px solid rgb(250, 250, 250);
}

#perfil-img{
    position: absolute;
    height: 70%;
    margin-top: 15%;
    left: 42.5%;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    padding: 5px;
}

#informacion-personal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.informacion{
    color: rgb(250, 250, 250);
    background-color: rgb(3, 25, 38);
    width: 40%;
    margin: 3rem 3% 3% 3%;
    border: 1px solid rgb(250, 250, 250);
}

.sub-titulo2{
    color: rgb(255, 255, 255);
    text-align: center;
}

#acerca-de-mi{
    padding: 0 10%;
    text-align: center;
}

ul{
    list-style: none;
}

li{
    padding: 0.5rem;
}

.seccion-contacto{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 0 10rem 0;
}

.contacto{
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    background-size: contain;
}

.contacto:hover{
    background-color: rgba(3, 25, 38, 0.5);
    border-radius: 1rem;
}

/*-----------------------------------------------------------------------------------------------------*/


#formacion-academica{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 0 10rem 0;
}

.instituto{
    font-weight: bold;
    font-size: 10vh;
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(3, 25, 38);
    border-radius: 2.5rem;
    height: 65vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    padding: 5vh 0 5vh 0;
}

.instituto:hover{
    background: rgba(3, 25, 38, 0.5);
}

.instituto, header{
    text-align: center;
}

.instituto-img{
    height: 40vh;
}

/*-----------------------------------------------------------------------------------------------------*/


#mis-conocimientos{
    width: 100%;

}

.titulo{
    color: rgb(250, 250, 250);
    background-color: rgb(3, 25, 38);
    width: 45%;
    font-size: 50px;
    text-align: center;
    margin: 5vh 0 5vh 0;
    border: 1px solid rgb(250, 250, 250);
}

.titulo--left{
    clip-path: polygon(90% 0, 100% 100%, 10% 100%, 0 0);
    margin-left: 5%;
}

.titulo--right{
    clip-path: polygon(100% 0, 90% 100%, 0 100%, 10% 0);
    margin-left: 50%;
}

.sub-titulo{
    color: rgb(3, 25, 38);
    text-decoration: underline ;
    font-size: 40px;
    text-align: center;
    padding: 1rem;
}

#herramientas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 0 5rem 0;
}

.lenguaje{
    font-weight: bold;
    font-size: 10vh;
    margin: 1rem;
    background-color: rgb(244, 233, 205);
    border: 1px solid rgb(3, 25, 38);
    border-radius: 2.5rem;
    height: 30vh;
    width: 25vh;
    display: flex;
    justify-content:center;
    padding: 7.5vh 0 7.5vh 0;
}

.lenguaje:hover{
    background-color: rgb(3, 25, 38);
}

.lenguaje-img{
    height: 15vh;
}

.lenguaje, a{
    color: rgb(3, 25, 38);
}

.lenguaje, a:hover{
    color: rgb(250, 250, 250);
}

#contacto-principal{
    background-color: rgb(3, 25, 38);
    height: 15vh;
    flex-shrink: 1;
}

/*-----------------------------------------------------------------------------------------------------*/

#boton-inicio{
    background-color: rgba(3, 25, 38, 0.5);
    height: 10vh;
    width: 10vh;
    position: fixed;
    bottom: 10vh;
    right: 10vh;
}

#contacto-principal{
    color: rgb(250, 250, 250);
    font-size: 10px;
    text-align: center;
}

.enlace-contacto{
    color: rgb(250, 250, 250);
    font-size: 20px;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------*/

@media (max-width:800px){
    #cabecera-principal{
        background-image: none;
        width: 100%;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }   
    
    #titulo-principal{
        all: unset;
        color: rgb(250, 250, 250);
        text-align: center;
        padding-top: 7%;
        width: 30%;
        font-size: 15px;
    }

    .opciones{
        display: flex;
        list-style: none;
        color: rgb(250,250,250);
        font-size: 20px;
        padding: 0;
        margin-top: 0;
    }

    .opcion{
        padding: 12px;
        width: 50%;
        text-align: center;
        border-left: 1px solid rgb(250,250,250);
        border-right: 1px solid rgb(250,250,250);
    }
    
    .enlace{
        color: rgb(250, 250, 250);
    }

    .titulo{
        font-size: 25px;
    }

    .sub-titulo2{
        font-size: 20px;
    }

    ul{
        padding-inline-start: 10px;
    }

    .seccion-contacto{
        margin: 1rem 1rem 1rem 1rem;
    }

    .contacto{
        width: 2rem;
        height: 2rem;
    }

    .instituto{
        width: 70%;
        font-size: 25px;
        margin: 2rem;
        height: 55vh;
    }

    .lenguaje{
        font-size: 50px;
        width: 25%;
        height: 30%;
        padding: 0;
        border-radius: 25%;
    }
    .lenguaje-img{
        height: 5vh;
    }

    #boton-inicio{
        background-color: rgba(3, 25, 38, 0.5);
        height: 5vh;
        width: 5vh;
        position: fixed;
        bottom: 10vh;
        right: 5vh;
    }
}

